{{- define "implClient" -}}
{{- $prefix := .Prefix -}}
{{- range $_, $service := .Services }}
{{- $serviceName := (snakeCase (regexReplaceAll "([A-Z]+)([A-Z][a-z])" $service.Name "${1}_${2}")) }}
#ifndef {{ toUpper $prefix }}_NO_CURL_TRANSPORT
struct {{ printf "%s_%s_client" $prefix $serviceName }} {
    char *base_url;
    char *bearer_token;
    struct curl_slist *default_headers;
    long timeout_ms;
    size_t max_response_bytes;
};

static void {{ printf "%s_%s_client_free_config_parts" $prefix $serviceName }}(char **bearer_token, struct curl_slist **default_headers) {
    if (bearer_token && *bearer_token) {
        free(*bearer_token);
        *bearer_token = NULL;
    }
    if (default_headers && *default_headers) {
        curl_slist_free_all(*default_headers);
        *default_headers = NULL;
    }
}

static void {{ printf "%s_%s_client_reset_config" $prefix $serviceName }}({{ printf "%s_%s_client" $prefix $serviceName }} *client) {
    if (!client) return;
    {{ printf "%s_%s_client_free_config_parts" $prefix $serviceName }}(&client->bearer_token, &client->default_headers);
    client->timeout_ms = 10000L;
    client->max_response_bytes = (size_t)1024 * 1024;
}

static int {{ printf "%s_%s_client_build_config" $prefix $serviceName }}(
    const {{ printf "%s_client_options" $prefix }} *options,
    char **bearer_token,
    struct curl_slist **default_headers,
    long *timeout_ms,
    size_t *max_response_bytes
) {
    if (!bearer_token || !default_headers || !timeout_ms || !max_response_bytes) return 0;
    *bearer_token = NULL;
    *default_headers = NULL;
    *timeout_ms = 10000L;
    *max_response_bytes = (size_t)1024 * 1024;
    if (!options) return 1;

    if (options->timeout_ms > 0) {
        *timeout_ms = options->timeout_ms;
    }
    if (options->max_response_bytes > 0) {
        *max_response_bytes = options->max_response_bytes;
    }

    if (options->bearer_token) {
        *bearer_token = {{ printf "%s_strdup" $prefix }}(options->bearer_token);
        if (!*bearer_token) goto fail;
    }

    if (options->headers_count > 0) {
        if (!options->headers) goto fail;
        for (size_t i = 0; i < options->headers_count; ++i) {
            if (!options->headers[i]) goto fail;
            struct curl_slist *next = curl_slist_append(*default_headers, options->headers[i]);
            if (!next) goto fail;
            *default_headers = next;
        }
    }

    return 1;

fail:
    {{ printf "%s_%s_client_free_config_parts" $prefix $serviceName }}(bearer_token, default_headers);
    *timeout_ms = 10000L;
    *max_response_bytes = (size_t)1024 * 1024;
    return 0;
}

int {{ printf "%s_%s_client_configure" $prefix $serviceName }}({{ printf "%s_%s_client" $prefix $serviceName }} *client, const {{ printf "%s_client_options" $prefix }} *options) {
    char *next_bearer_token = NULL;
    struct curl_slist *next_default_headers = NULL;
    long next_timeout_ms = 10000L;
    size_t next_max_response_bytes = (size_t)1024 * 1024;

    if (!client) return 0;
    if (!{{ printf "%s_%s_client_build_config" $prefix $serviceName }}(options, &next_bearer_token, &next_default_headers, &next_timeout_ms, &next_max_response_bytes)) {
        return 0;
    }

    {{ printf "%s_%s_client_reset_config" $prefix $serviceName }}(client);
    client->bearer_token = next_bearer_token;
    client->default_headers = next_default_headers;
    client->timeout_ms = next_timeout_ms;
    client->max_response_bytes = next_max_response_bytes;
    return 1;
}

{{ printf "%s_%s_client" $prefix $serviceName }} *{{ printf "%s_%s_client_create" $prefix $serviceName }}(const char *base_url, const {{ printf "%s_client_options" $prefix }} *options) {
    {{ printf "%s_%s_client" $prefix $serviceName }} *client =
        ({{ printf "%s_%s_client" $prefix $serviceName }} *)calloc(1, sizeof(*client));
    if (!client) return NULL;
    client->base_url = {{ printf "%s_strdup" $prefix }}(base_url ? base_url : "");
    if (!client->base_url) {
        free(client);
        return NULL;
    }
    {{ printf "%s_%s_client_reset_config" $prefix $serviceName }}(client);
    if (!{{ printf "%s_%s_client_configure" $prefix $serviceName }}(client, options)) {
        free(client->base_url);
        client->base_url = NULL;
        {{ printf "%s_%s_client_reset_config" $prefix $serviceName }}(client);
        free(client);
        return NULL;
    }
    return client;
}

void {{ printf "%s_%s_client_destroy" $prefix $serviceName }}({{ printf "%s_%s_client" $prefix $serviceName }} *client) {
    if (!client) return;
    free(client->base_url);
    client->base_url = NULL;
    {{ printf "%s_%s_client_reset_config" $prefix $serviceName }}(client);
    free(client);
}

int {{ printf "%s_%s_client_send_prepared_request" $prefix $serviceName }}(
    {{ printf "%s_%s_client" $prefix $serviceName }} *client,
    const {{ printf "%s_prepared_request" $prefix }} *request,
    {{ printf "%s_http_response" $prefix }} *response,
    {{ printf "%s_error" $prefix }} *error
) {
    if (!client || !request || !response) {
        {{ printf "%s_set_error" $prefix }}(error, 0, 0, "ClientError", "client, request, and response must be non-NULL", NULL);
        return -1;
    }

    return {{ printf "%s_http_send_request" $prefix }}(
        client->base_url,
        request,
        client->bearer_token,
        client->default_headers,
        client->timeout_ms,
        client->max_response_bytes,
        response,
        error
    );
}
#else
struct {{ printf "%s_%s_client" $prefix $serviceName }} {
    int placeholder;
};

{{ printf "%s_%s_client" $prefix $serviceName }} *{{ printf "%s_%s_client_create" $prefix $serviceName }}(const char *base_url, const {{ printf "%s_client_options" $prefix }} *options) {
    {{ printf "%s_%s_client" $prefix $serviceName }} *client;
    (void)base_url;
    (void)options;
    client = ({{ printf "%s_%s_client" $prefix $serviceName }} *)calloc(1, sizeof(*client));
    return client;
}

void {{ printf "%s_%s_client_destroy" $prefix $serviceName }}({{ printf "%s_%s_client" $prefix $serviceName }} *client) {
    free(client);
}

int {{ printf "%s_%s_client_configure" $prefix $serviceName }}({{ printf "%s_%s_client" $prefix $serviceName }} *client, const {{ printf "%s_client_options" $prefix }} *options) {
    (void)options;
    return client ? 1 : 0;
}

int {{ printf "%s_%s_client_send_prepared_request" $prefix $serviceName }}(
    {{ printf "%s_%s_client" $prefix $serviceName }} *client,
    const {{ printf "%s_prepared_request" $prefix }} *request,
    {{ printf "%s_http_response" $prefix }} *response,
    {{ printf "%s_error" $prefix }} *error
) {
    if (!client || !request || !response) {
        {{ printf "%s_set_error" $prefix }}(error, 0, 0, "ClientError", "client, request, and response must be non-NULL", NULL);
        return -1;
    }
    {{ printf "%s_set_error" $prefix }}(error, 0, 0, "TransportError", "built-in curl transport is disabled", NULL);
    return -1;
}
#endif

{{- range $_, $method := $service.Methods }}
{{- $methodName := (snakeCase (regexReplaceAll "([A-Z]+)([A-Z][a-z])" $method.Name "${1}_${2}")) }}
int {{ printf "%s_%s_%s" $prefix $serviceName $methodName }}(
    {{ printf "%s_%s_client" $prefix $serviceName }} *client,
    const {{ template "cMethodRequestTypeName" dict "Prefix" $prefix "ServiceName" $service.Name "MethodName" $method.Name }} *request,
    {{ template "cMethodResponseTypeName" dict "Prefix" $prefix "ServiceName" $service.Name "MethodName" $method.Name }} *response,
    {{ printf "%s_error" $prefix }} *error
) {
    int rc = -1;
    {{ printf "%s_prepared_request" $prefix }} prepared_request;
    {{ printf "%s_http_response" $prefix }} http_response;
    {{ printf "%s_prepared_request_init" $prefix }}(&prepared_request);
    {{ printf "%s_http_response_init" $prefix }}(&http_response);

    if (!client || !request || !response) {
        {{ printf "%s_set_error" $prefix }}(error, 0, 0, "ClientError", "client, request, and response must be non-NULL", NULL);
        goto fail;
    }

    if ({{ printf "%s_%s_%s_prepare_request" $prefix $serviceName $methodName }}(request, &prepared_request, error) != 0) {
        goto fail;
    }
    if ({{ printf "%s_%s_client_send_prepared_request" $prefix $serviceName }}(client, &prepared_request, &http_response, error) != 0) {
        goto fail;
    }
    if ({{ printf "%s_%s_%s_parse_response" $prefix $serviceName $methodName }}(&http_response, response, error) != 0) {
        goto fail;
    }
    rc = 0;

fail:
    {{ printf "%s_prepared_request_free" $prefix }}(&prepared_request);
    {{ printf "%s_http_response_free" $prefix }}(&http_response);
    return rc;
}

{{- end }}
{{- end }}
{{- end -}}
